<nav id="main-navbar" class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/assets/images/igr-sticker-45x45.png" 
                id="nav-igr" alt="IlGattaRossa sticker logo" class="img-fluid" 
                width="45" height="45"></a>
    <button id="menu-button" class="navbar-toggler" type="button" data-toggle="collapse" 
            data-target="#navbarCollapse" aria-controls="navbarCollapse" 
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse pt-3 pt-sm-0" id="navbarCollapse">
        <ul class="navbar-nav mr-auto pb-1 pb-sm-0" id="menu">        
            {% for item in site.data.navigation %}
            <li {% if page.url == item.link or page.permalink == item.link %} class="nav-item active" 
                {% else %} class="nav-item" {% endif %}>
                <a class="nav-link" href="{{ item.link }}">
                    {{ item.name }}
                </a>
            </li>
            {% endfor %}        
        </ul>
        <ul class="navbar-nav" id="links">        
            {% for item in site.data.links %}
            <li class="nav-item">
                <a class="nav-link" href="{{ item.link }}">
                    {{ item.icon }}
                </a>
            </li>
            {% endfor %}        
        </ul>        
    </div>
</nav>
